<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href = "css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="divFirstHeader">
            <i class="fa-solid fa-bars fa-2xl mobileOnly"></i>
            <div id="logo">
                <a href="/"><img src = "images/logo-mercado-liebre.svg" alt = "logo-mercado-liebre"></a>
            </div>
            <div class="divBuscador">
                <input class="buscador" placeholder="Buscar productos, marcas, etc.">
                <button name="buscar" class="fa-solid fa-magnifying-glass searchButton"></button>
            </div>
            <h1 class="headerH1"><i class="fa-solid fa-hand-holding-dollar "></i> Comprá en cuotas y sin tarjeta de crédito</h1>
        </div>
        <div>
            <nav class="divSecondHeader">
                <ul class="divListSecondHeader">
                    <li><a>Ofertas</a></li>
                    <li><a>Tiendas Oficiales</a></li>
                    <li><a>Vender</a></li>
                    <li><a>Ayuda</a></li>
                </ul>
                <ul class="divListSecondHeader">
                    <li><i class="fa-regular fa-id-card"></i> <a href="/register">Creá tu cuenta</a></li>
                    <li><i class="fa-solid fa-right-to-bracket"></i> <a href="/login">Ingresá</a></li>
                    <li><i class="fa-sharp fa-solid fa-shop"></i> <a>Compras</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="bannerImg">
            <img src="/images/banner.png">
        </div>
        <section>
            <h3 class="h3LastSeen">Basado en tu última visita</h3> 
            <div class="lastSeenContainer">
                <div class="lastSeenProductBox"><!--Caja de producto-->
                    <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                    <div class="productInfoBox">
                        <div class="productPrice"> <!--bloque de texto del producto-->
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>                   
                            <h3>$230.000</h3>
                            <h2>20% off</h2>
                        </div>
                        <h1>MacBook Pro 2019</h1>
                    </div>
                </div>
                <div class="lastSeenProductBox">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    <div class="productInfoBox">
                        <div class="productPrice">
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>      
                            <h3>$70.500</h3>
                            <h2>10% off</h2>
                        </div>
                        <h1>Samsung Galaxy S10</h1>
                   </div>
                </div>
                <div class="lastSeenProductBox">
                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <div class="productInfoBox">
                        <div class="productPrice">
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <h3>$6.770</h3>
                            <h2>40% off</h2>
                        </div>
                        <h1>Cafetera Moulinex</h1>
                    </div>
                    
                </div>
                <div class="lastSeenProductBox">
                    <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="productInfoBox">
                        <div class="productPrice">
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>                            
                            <h3>$120.940</h3>                        
                            <h2>15% off</h2>
                        </div>
                        <h1>Tv Samsung Smart</h1>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <section>
            <h3 class="h3LastSeen">Ofertas</h3>
            <div class="lastSeenContainer">
                <div class="lastSeenProductBox"><!--Caja de producto-->
                    <img src="images/celularXiaomi.png" alt="celularXiaomi.png">
                    <div class="productInfoBox">
                        <div class="productPrice"> <!--bloque de texto del producto-->
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>                   
                            <h3>$129.999</h3>
                            <h2>20% off</h2>
                        </div>
                        <h1>Xiaomi Mi 11 5G NE</h1>
                    </div>
                </div>
                <div class="lastSeenProductBox">
                    <img src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <div class="productInfoBox">
                        <div class="productPrice">
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <h3>$6.770</h3>
                            <h2>40% off</h2>
                        </div>
                        <h1>Cafetera Moulinex</h1>
                    </div>
                    
                </div>
                <div class="lastSeenProductBox">
                    <img src="images/shecterSynyster.png" alt="Guitarra Schecter Synyster Gates">
                    <div class="productInfoBox">
                        <div class="productPrice">
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>      
                            <h3>$189.999</h3>
                            <h2>34% off</h2>
                        </div>
                        <h1>Guitarra Schecter Synyster Gates</h1>
                   </div>
                </div>
                <div class="lastSeenProductBox">
                    <img src="images/rtx3090.png" alt="img Nvidia Rtx3090">
                    <div class="productInfoBox">
                        <div class="productPrice">
                            <div class="divTruckIcon">
                                <i class="fa-solid fa-truck"></i>
                            </div>                            
                            <h3>$449.999</h3>                        
                            <h2>13% off</h2>
                        </div>
                        <h1>Asus Nvidia GeForce RTX3090</h1>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="divFooter">
        <div class="divFooterBox">
            <i class="fa-sharp fa-solid fa-credit-card recolorsizing fa-2xl"></i>
            <h1 class="negrita">Pagá con efectivo o tarjeta.</h1>
            <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span>
        </div>
        <br>
        <div class="divFooterBox">
            <i class="fa-solid fa-gift recolorsizing fa-2xl"></i>
            <h1 class="">Envío gratis desde $2.500</h1>
            <span>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado puntos</span>
        </div>
        <br>
        <div class="divFooterBox">
            <i class="fa-solid fa-user-shield recolorsizing fa-2xl"></i>
            <h1 class="">Seguridad, de principio a fin</h1>
            <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</span>
        </div>
        </div>
        <div>
            <span class="copyrightText">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
        </div>
    </footer>
</body>
</html>

