<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href = "css/styles.css">
    <link rel= "stylesheet" type= "text/css" herf= "http.//fonts.googleapis.com/css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div id="logo">
            <img width="150px" height="75px" src = "images/logo-mercado-liebre.svg" alt = "logo-mercado-liebre">
        </div>
        <div class="buscadorCentrado">
            <input placeholder="Buscar productos, marcas, etc.">
            <button name="buscar" class="fa-solid fa-magnifying-glass"></button>
        </div>
    </header>
    <main>
        <h1 class="h1"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
        <nav>
            <ul class="navFlex">
                <li><a>Ofertas</a></li>
                <li><a>Tiendas Oficiales</a></li>
                <li><a>Vender</a></li>
                <li><a>Ayuda</a></li>
                <br>
                <li><a>Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a>Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a>Compras</a>  <i class="fa-sharp fa-solid fa-shop"></i></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <section>
            <div class="titulares">
            Basado en tu última visita:
            </div>
            <div class="flexbox space-around">
                <div class="background_color">
                    <img width= "400px" height="400px" src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
                    <div class="itemData">
                        <div class = "flexbox">                    
                            <h1 class="negrita">$230.000</h1>
                            <h2 class="descuento">20% off</h2>
                        </div>
                        <h1>MacBook Pro 2019</h1>
                    </div>
                </div>
                <div class="background_color">
                   <div class="itemData">
                        <img width= "400px" height="400px" src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                        <div class="flexbox">
                            <h1 class="negrita">$70.500</h1>
                            <h2 class="descuento">10% off</h2>
                        </div>
                        <h1>Samsung Galaxy S10</h1>
                   </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <section>
            <div class="titulares">
                Ofertas
            </div>
            <div class="flexbox space-around">
                <div class="background_color">
                    <img width="400px" height="400px" src="images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    <div class="flexbox">
                        <h1 class="negrita">$6.770</h1>
                        <h2 class="descuento">40% off</h2>
                    </div>
                    <h1>Cafetera Moulinex</h1>
                </div>
                <div class="background_color">
                    <img width="400px" height="400px" src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    <div class="flexbox">
                        <h1 class="negrita">$120.940</h1>
                        <h2 class="descuento">15% off</h2>
                    </div>
                    <h1>Tv Samsung Smart</h1>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h1 class="negrita">Pagá con efectivo o tarjeta.</h1>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h1 class="negrita">Envío gratis desde $2.500</h1>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado puntos</p>
        </div>
        <div>
            <h1 class="negrita">Seguridad, de principio a fin</h1>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </div>
        <div>
            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
        </div>
    </footer>
</body>
</html>

