@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #EAC926;
    font-family: 'Roboto',sans-serif;
}

header{
    background-color: #EAC926;
}

main{
    background-color: #ebebeb;
}

footer{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 30px;
}

.recolorsizing{
    color: #03264c;
}

#logo {
    display: flex;
    size: 20px;
    justify-content: center;
}

.buscadorCentrado{
    display: flex;
    justify-content: center;
}
.h1{
    text-align: center;
    font-size: 24px;
}

.flexbox{
    display: flex;
    border: 0.10vh gray;
}

.background_color {
    background-color: white;
}

.navFlex{
    display:flex;
    justify-content: center;
    justify-content: space-around;
}

.negrita{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}

.titulares{
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.descuento{
    font-family: 'Roboto';
    color: #22f34f;
    font-size: 16px;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

.itemData{
    margin-left: 0.25rem;
}

.copyrightText{
    font-size: 8px;
    color: #666;
    text-align: center;
}

.centerItems{
    text-align: center;
    line-height: 1rem;
}