@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #EAC926;
    font-family: 'Roboto',sans-serif;
}

header{
    background-color: #EAC926;
}

main{
    background-color: #ebebeb;
    width: 90%;
}

footer{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-top: 30px;
}

.recolorsizing{
    color: #03264c;
}

#logo {
    display: flex;
    size: 20px;
    justify-content: center;
}

.buscadorCentrado{
    display: flex;
    justify-content: center;
}
.h1{
    text-align: center;
    font-size: 24px;
}

.flexbox{
    display: flex;
    border-top: 1px;
    border-style: solid;
    border-color: #ebebeb;
}

.productInfo{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    position: relative; 
    border-top: #ebebeb;
    border-style: solid;
}

.camionEnvio{
    position: absolute;
    left: 18vw;
    top: 2.1vh;
}

.circlePosition{
    color:#39b54a;
    position: absolute;
    left: 17.65vw;
    top: 3vh;
}

.productName{
    margin-left: 15px;
    color: #666;
}

.productBox { /*Caja de producto*/
    background-color: white;
    border-top: #ebebeb;
    border-style: solid;
    color: white;
    margin: 15px;
}


.navFlex{
    display:flex;
    justify-content: center;
    justify-content: space-around;
}

.negrita{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.titulares{
    display: flex;
    font-size: 24px;
    justify-content: center;
    color: black;
    padding-top: 2vh;
}

.colored{
    color: #39b54a;
}

.descuento{
    font-family: 'Roboto';
    color: #39b54a;
    font-size: 16px;
    font-weight: lighter;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

.borderTop{
    border-top: 1px;
    border-color: #ebebeb;
    border-style: solid;
}

.copyrightText{
    font-size: 8px;
    color: #666;
    text-align: center;
}

.centerItems{
    text-align: center;
    line-height: 1rem;
}